#wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .contenedor-botones{
    display: flex;
    justify-content: space-around;
  }
  .tabla{
    
    min-width: 130px;

   
}
mat-form-field {
  width: 150px;
}