#wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .contenedor-botones{
    display: flex;
    justify-content: space-around;
  }
  .tabla{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    transform-origin: top left;
    margin-left: 4rem;
   
    
}

mat-form-field {
  width: 150px;
}