<form [formGroup]="formCambioNacionalidadM"(ngSubmit)="guardarCambios()" class="contenedor" *ngIf="CambiarP === true">

    <table class="table alert alert-light border border-2 border border-primary    ">
    <div class="persona1">
        <div class="row ms-3 ">
        <h5>Contrayente 1:</h5>
        <!-- <fieldset disabled> -->
<form [formGroup]="formCambioNacionalidadM"(ngSubmit)="guardarCambios()" class="contenedor">
  
    <table class="table  table-sm alert alert-light border border-2 border border-primary text text-center "  >
         <h5 class="text text-center">Contrayente 1:</h5>
    <div class="persona1 ">
    
       
            <!-- P1 Nombres -->
        
            <mat-form-field *ngIf="this.datosRetornados.registro.p1Nombres !== null">
            <div class=" col-mt-3 mb-3 " >
    
                    <input type="text" matInput placeholder="Nombres" formControlName="p1Nombres"
                        maxlength="20">
                    <div>
                        <mat-icon>person</mat-icon>
                    </div>
                </div>
               
            </mat-form-field>
           
        
        <!-- <div class="row mt-5"> -->
            <!-- P1 Primer Apellido -->
           
                <mat-form-field *ngIf="this.datosRetornados.registro.p1Primerapellido !== null">
                    <div class=" col-mt-5 mb-3 ">
        
                        <input type="text" matInput placeholder="Primer Apellido" formControlName="p1Primerapellido"
                            maxlength="20">
                        <div>
                            <mat-icon>person</mat-icon>
                        </div>
                    </div>
                </mat-form-field>
       
        
            <!-- P1 Segundo Apellido -->
        
                <mat-form-field *ngIf="this.datosRetornados.registro.p1Segundoapellido !== null">
                    <div class=" col-mt-5 mb-3 ">
        
                        <input type="text" matInput placeholder="Segunfo Apellido" formControlName="p1Segundoapellido"
                            maxlength="20">
                        <div>
                            <mat-icon>person</mat-icon>
                        </div>
                    </div>
                </mat-form-field>
          
            <!-- P1 Sexo -->
            <mat-form-field>
                <div class=" col-mt-5 mb-3 ">
    
                    <input type="text" matInput placeholder="Sexo" formControlName="p1Sexo"
                        maxlength="20">
                    <div>
                        <mat-icon>person</mat-icon>
                    </div>
                </div>
            </mat-form-field>
            <!-- P1 Nacionalidad -->
            <mat-form-field>
                <div class=" col-mt-5 mb-3 ">
    
                    <input type="text" matInput placeholder="Nacionalidad" formControlName="p1Nacionalidad"
                        maxlength="20">
                    <div>
                        <mat-icon>person</mat-icon>
                    </div>
                </div>
            </mat-form-field>
       

    

    <!-- <div class="persona2"> -->
        

        <h5>Contrayente 2:</h5>
        <!-- <fieldset disabled> -->
        
            <!-- P2 Nombres -->
            
                <mat-form-field *ngIf="this.datosRetornados.registro.p2Nombres !== null">
                    <div class=" col-mt-5 mb-3 ">
        
                        <input type="text" matInput placeholder="Nombres" formControlName="p2Nombres"
                            maxlength="20">
                        <div>
                            <mat-icon>person</mat-icon>
                        </div>
                    </div>
                </mat-form-field>
           
      
        <!-- <div class="row mt-5"> -->
            <!-- P2 Primer Apellido -->
           
                <mat-form-field  *ngIf="this.datosRetornados.registro.p2Primerapellido !== null">
                    <div class=" col-mt-5 mb-3 ">
        
                        <input type="text" matInput placeholder="Primer Apellido" formControlName="p2Primerapellido"
                            maxlength="20">
                        <div>
                            <mat-icon>person</mat-icon>
                        </div>
                    </div>
                </mat-form-field>
           
          
        <!-- </div> -->
        
            <!-- P2 Segundo Apellido -->
            
                <mat-form-field *ngIf="this.datosRetornados.registro.p2Segundoapellido !== null">
                    <div class=" col-mt-5 mb-3 ">
        
                        <input type="text" matInput placeholder="Segundo Apellido" formControlName="p2Segundoapellido"
                            maxlength="20">
                        <div>
                            <mat-icon>person</mat-icon>
                        </div>
                    </div>
                </mat-form-field>
            
 
    <!-- </fieldset> -->
            <!-- P2 Sexo -->
            <mat-form-field>
                <div class=" col-mt-5 mb-3 ">
    
                    <input type="text" matInput placeholder="Sexo" formControlName="p2Sexo"
                        maxlength="20">
                    <div>
                        <mat-icon>person</mat-icon>
                    </div>
                </div>
            </mat-form-field>

            <!-- P2 Nacionalidad -->
            <mat-form-field>
                <div class=" col-mt-5 mb-3 ">
    
                    <input type="text" matInput placeholder="Nacionalidad" formControlName="p2Nacionalidad"
                        maxlength="20">
                    <div>
                        <mat-icon>person</mat-icon>
                    </div>
                </div>
            </mat-form-field>

               
        <div style="text-align:center">
            <div class="form-group atext-align:cente contenedor-botones">
                <button class="btn btn-success d-flex justify-content-between" [disabled]="formCambioNacionalidadM.invalid">
                    <i class="fas fa-sharp fa-solid fa-circle-check fs-3"></i>
                    
                    <p class="m-2 mt-0 mr-0 mb-0">Guardar Cambios</p>
                    
                </button>
                <button class="btn btn-danger d-flex justify-content-between" type="button" (click)="cancelar()">
                    <i class="fa-sharp fa-solid fa-xmark fs-3"></i>

                    <p class="m-2 mt-0 mr-0 mb-0">Cancelar</p>
                   
                </button>
            </div>
        </div>
    </div>
</table>
               
    <div class="form-group mb-3 ">
        <div class="input-group">
            <p class="msjError" *ngIf="campoNoEsValido('p1Nombres')">Campo obligatorio. Solo admite caracteres numéricos</p>
        </div>
    </div>

     
    
</form>






<form [formGroup]="formCambioSexo"(ngSubmit)="guardarCambios()" class="contenedor" *ngIf="CambiarP !== true" >
    <div class="persona1">
        <div class="row ms-3 ">
        <h5>Contrayente 1:</h5>
        <!-- <fieldset disabled> -->
       
            <!-- P1 Nombres -->
        <div class="form-group col-mt-5 mb-3 t"  *ngIf="this.datosRetornados.registro.p1Nombres !== null">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-text bg-white fs-3">
                            <i class="fa-sharp fa-solid fa-id-card "
                            [class.green-icon]="this.formCambioSexo.get('p1Nombres')?.valid"
                            [class.red-icon]="this.formCambioSexo.get('p1Nombres')?.invalid && this.formCambioSexo.get('p1Nombres')?.touched" 
                            ></i>
                        </div>
                        <input type="text"  
                                class="form-control" 
                                placeholder="Nombres persona 1"
                                formControlName="p1Nombres"
                                maxlength="20"
                                required>
                    </div>
    
                </div>
           
        </div>
        <!-- <div class="row mt-5"> -->
            <!-- P1 Primer Apellido -->
            <div class="form-group col-mt-5 mb-3 " *ngIf="this.datosRetornados.registro.p1Primerapellido !== null">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-text bg-white fs-3">
                            <i class="fa-sharp fa-solid fa-id-card "
                                [class.green-icon]="this.formCambioSexo.get('p1Primerapellido')?.valid"
                                [class.red-icon]="this.formCambioSexo.get('p1Primerapellido')?.invalid && this.formCambioSexo.get('p1Primerapellido')?.touched"></i>
                        </div>
                        <input type="text" class="form-control" placeholder="Primer Apellido persona 1"
                            formControlName="p1Primerapellido" maxlength="20" required>
                    </div>
            
                <!-- </div> -->
            </div>
        </div>
        </div>
        <div class="row ms-3">
            <!-- P1 Segundo Apellido -->
            <div class="form-group col-mt-5 mb-3 "  *ngIf="this.datosRetornados.registro.p1Segundoapellido !== null">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-text bg-white fs-3">
                            <i class="fa-sharp fa-solid fa-id-card " 
                            [class.green-icon]="this.formCambioSexo.get('p1Segundoapellido')?.valid"
                            [class.red-icon]="this.formCambioSexo.get('p1Segundoapellido')?.invalid && this.formCambioSexo.get('p1Segundoapellido')?.touched" 
                            ></i>
                        </div>
                        <input type="text"  
                                class="form-control" 
                                placeholder="Segundo Apellido persona 1"
                                formControlName="p1Segundoapellido"
                                maxlength="20"
                                required
                                >
                    </div>
    
                </div>
            </div>      
        
        <!-- </fieldset> -->
        <!-- <div class="row ms-3"> -->
            <!-- P1 Sexo -->
            <div class="form-group col-mt-5 mb-3">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-text bg-white fs-3">
                            <i class="fa-sharp fa-solid fa-venus-mars " 
                            [class.green-icon]="this.formCambioSexo.get('p1Sexo')?.valid"
                            [class.red-icon]="this.formCambioSexo.get('p1Sexo')?.invalid && this.formCambioSexo.get('p1Sexo')?.touched" 
                            ></i>
                        </div>
                        <select formControlName="p1Sexo">
                            <option *ngFor="let sexo of listSexo" [value]="sexo.valor">{{sexo.nombre}}</option>
                        </select>
                    </div>
    
                </div>
            </div>
        <!-- </div> -->
        </div>
    <!-- </div> -->

    

    <!-- <div class="persona2"> -->
        <div class="row ms-3">
        <h5>Contrayente 2:</h5>
        <!-- <fieldset disabled> -->
        
            <!-- P2 Nombres -->
            <div class="form-group col-mt-7 mb-3"  *ngIf="this.datosRetornados.registro.p2Nombres !== null">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-text bg-white fs-3">
                            <i class="fa-sharp fa-solid fa-id-card" [class.green-icon]="this.formCambioSexo.get('p2Nombres')?.valid"
                                [class.red-icon]="this.formCambioSexo.get('p2Nombres')?.invalid && this.formCambioSexo.get('p2Nombres')?.touched"></i>
                        </div>
                        <input type="text" class="form-control" placeholder="Nombres persona 2" formControlName="p2Nombres"
                            maxlength="20" required>
                    </div>
            
                </div>
            </div>
      
        <!-- <div class="row mt-5"> -->
            <!-- P2 Primer Apellido -->
            <div class="form-group col-mt-7 mb-3"  *ngIf="this.datosRetornados.registro.p2Primerapellido !== null">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-text bg-white fs-3">
                            <i class="fa-sharp fa-solid fa-id-card"
                                [class.green-icon]="this.formCambioSexo.get('p2Primerapellido')?.valid"
                                [class.red-icon]="this.formCambioSexo.get('p2Primerapellido')?.invalid && this.formCambioSexo.get('p2Primerapellido')?.touched"></i>
                        </div>
                        <input type="text" class="form-control" placeholder="Primer Apellido persona 2"
                            formControlName="p2Primerapellido" maxlength="20" required>
                    </div>
            
                </div>
           
            </div>
        <!-- </div> -->
        </div>
        <div class="row ms-3">   
            <!-- P2 Segundo Apellido -->
            <div class="form-group col-mt-5 mb-3"  *ngIf="this.datosRetornados.registro.p2Segundoapellido !== null">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-text bg-white fs-3">
                            <i class="fa-sharp fa-solid fa-id-card"
                                [class.green-icon]="this.formCambioSexo.get('p2Segundoapellido')?.valid"
                                [class.red-icon]="this.formCambioSexo.get('p2Segundoapellido')?.invalid && this.formCambioSexo.get('p2Segundoapellido')?.touched"></i>
                        </div>
                        <input type="text" class="form-control" placeholder="Segundo Apellido persona 2"
                            formControlName="p2Segundoapellido" maxlength="20" required>
                        
                    </div>
                
                </div>
            </div>
            
        </div>
    <!-- </fieldset> -->
        <div class="row ms-3">
            <!-- P2 Sexo -->
            <div class="form-group col-mt-5 mb-3">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-text bg-white fs-3">
                            <i class="fa-sharp fa-solid fa-venus-mars" [class.green-icon]="this.formCambioSexo.get('p2Sexo')?.valid"
                                [class.red-icon]="this.formCambioSexo.get('p2Sexo')?.invalid && this.formCambioSexo.get('p2Sexo')?.touched"></i>
                        </div>
                        <select formControlName="p2Sexo">
                            <option *ngFor="let sexo of listSexo" [value]="sexo.valor">{{sexo.nombre}}</option>
                        </select>
                    </div>
            
                </div>

            </div>

                
        </div>       
        <div style="text-align:center">
            <div class="form-group atext-align:cente contenedor-botones">
                <button class="btn btn-success d-flex justify-content-between">
                    <i class="fas fa-sharp fa-solid fa-circle-check fs-3"></i>
                    
                    <p class="m-2 mt-0 mr-0 mb-0">Guardar Cambios</p>
                    
                </button>
                <button class="btn btn-danger d-flex justify-content-between" type="button" (click)="cancelar()">
                    <i class="fa-sharp fa-solid fa-xmark fs-3"></i>

                    <p class="m-2 mt-0 mr-0 mb-0">Cancelar</p>
                   
                </button>
            </div>
        </div>
    </div>
               
    <div class="form-group mb-3 ">
        <div class="input-group">
            <p class="msjError" *ngIf="campoNoEsValido('p1Nombres')">Campo obligatorio. Solo admite caracteres numéricos</p>
        </div>
    </div>
</form>