<!--<form [formGroup]="formInter" (ngSubmit)="ejecutar()">>-->


<div></div>
<form [formGroup]="globalForm"(ngSubmit)="ejecutarGlobal()" >
    
    <div class="form-group mb-3 fs-3">
        <div class="input-group">
            <div class="input-group-text bg-white  fs-3">
                <i class="fas fa-duotone fa-magnifying-glass"
                    [class.green-icon]="this.globalForm.get('proceso')?.valid"
                    [class.red-icon]="this.globalForm.get('proceso')?.invalid && this.globalForm.get('proceso')?.touched" ></i>
            </div>

           
                <select formControlName="proceso"(change)="validar()" class="form-select" aria-label="Default select example" >
                    <option selected disabled hidden value="">Selecciona un proceso </option>
                    <option value="borrarDef">Borrar Defunciones </option>
                    <option value="borrarMat">Borrar Matrimonios </option>
                    <option value="borrarNac">Borrar Nacimientos </option>
                    <option value="cambioSexo">Cambio de Sexo</option>
                    <option value="forzarSubirNac">Forzar subir Acta Nacimientos </option>
                    <option value="forzarSubirMat">Forzar subir Acta Matrimonios </option>
                    <option value="forzarSubirDef">Forzar subir Acta Defunciones </option>
    
                </select> 
    
             

             
            
            
        </div>
    </div>

    <div class="form-group">
        <div class="input-group">
            <div class="input-group-text bg-white fs-3">
                <i class="fa-sharp fa-solid fa-id-card" 
                [class.green-icon]="this.globalForm.get('cadena')?.valid"
                [class.red-icon]="this.globalForm.get('cadena')?.invalid && this.globalForm.get('cadena')?.touched" 
                ></i>
            </div>
            <input type="text"  
                   class="form-control" 
                   placeholder="Ingrese cadena"
                   formControlName="cadena"
                   maxlength="20"
                   required>
        </div>
    </div>

    <div class="form-group mb-3 fs-3">
        <div class="input-group">
            <p class="msjError" *ngIf="campoNoEsValido('cadena')">Campo obligatorio. Solo admite caracteres numéricos</p>
        </div>
    </div>

    <div class="form-group fs-3">
        <div class="d-grid gap-2">
            <button class="btn btn-primary btn-lg" 
            [disabled]="globalForm.invalid" >
                    <i class="fas fa-sharp fa-solid fa-circle-check"></i>
                Ejecutar
                
            </button>
        </div>

    </div>
   
    
    
</form>

