input.ng-touched.ng-invalid{
    border-color: #dc3545;
}

input.ng-valid{
    border-color: #28a745;
}

.green-icon{
    color: #28a745;
}

.red-icon{
    color: #dc3545;
}

body {
    background-image: url('https://seeklogo.com/images/G/gto-grandeza-de-mexico-logo-0476891181-seeklogo.com.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 35% 65%;
    background-position: center;
  }