.centro{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .color{
    color: white;/* color de la letra */
    background-color: #006100; /* Green color del botón*/
  }
 