<form [formGroup]="formCambioNacionalidad"(ngSubmit)="guardarCambios()" class="contenedor">


 
    <!-- Pe Nombres del hijo -->
<mat-form-field>
        <div class=" col-mt-5 mb-3 t"  >
            
            <div class="">

                <input type="text"  
                        matInput
                        placeholder="Nombre(s)"
                        formControlName="PeNombres"
                        maxlength="20"
                        >
            </div>
    </div>
</mat-form-field>
<mat-form-field>
    <!-- Pe primer apellido del hijo  -->
          <div class=" col-mt-5 mb-3 " >
                    <input type="text" 
                    matInput
                    placeholder="Primer Apellido "
                    formControlName="PePrimerapellido" 
                    maxlength="20">
                </div>
</mat-form-field>

    <!-- Pe Segundo Apellido del hijo -->
    <mat-form-field>
    <div class=" col-mt-5 mb-3 "  >
     
                <input type="text"  
                        matInput
                        placeholder="Segundo Apellido"
                        formControlName="PeSegundoapellido"
                        maxlength="20"
                        >
            </div>
        </mat-form-field>
    <!-- Pe Sexoo de hijo -->
    <mat-form-field>
    <div class=" col-mt-5 mb-3 "  >
                <input type="text"  
                        matInput
                        placeholder="Sexo"
                        formControlName="PeSexo"
                        maxlength="20"
                        >
            </div>
</mat-form-field>
    <!-- Pe Fecha Nacimiento del hijo-->

    <mat-form-field>
    <div class=" col-mt-5 mb-3 "  >
      
                <input type="text"  
                        matInput
                        placeholder="Fecha de Nacimiento"
                        formControlName="PeFechanacimiento"
                        maxlength="20"
                        >
            </div>
</mat-form-field>
    <!-- Pe Lugar de Nacimiento del hijo  -->
<mat-form-field> 
    <div class="col-mt-5 mb-3 "  >
                <input type="text"  
                        matInput
                        placeholder="Lugar de Nacimiento"
                        formControlName="PeEntidadnacimiento"
                        maxlength="20"
                        >
            </div>
</mat-form-field>
    </form>
    