
<!--Tabla 01-->
<div class="container ">

  <div class=" table-info" *ngIf="registroAgregado?.ta01EOid !== null && registroAgregado?.ta09EOid !== null && registroAgregado?.ta03EOid !== null" >

    <h2 class="text-center" *ngIf="registroAgregado?.ta01EOid !== undefined && registroAgregado?.ta01EOid !== null ||
                            registroAgregado?.ta03EOid !== undefined && registroAgregado?.ta03EOid !== null ||
                            registroAgregado?.ta09EOid !== undefined && registroAgregado?.ta09EOid !== null ||
                            registroAgregadoCambioSexo !== undefined && registroAgregadoCambioSexo !== null">
      Resultado 

  </h2>
  <br>

  <table class="table table-hover table-sm">

    <tr class="row" *ngIf="registroAgregado?.ta01EOid !== undefined && registroAgregado?.ta01EOid !== null">
      
      <div class="celda col-4">
        <th class="col">taEOid</th>
        <td scope="row">{{ registroAgregado?.ta01EOid }}</td>
      </div>
      <div class="celda col-4">
        <th scope="col">taEPrioridad</th>
        <td scope="row">{{ registroAgregado?.ta01EPrioridad }}</td>
      </div>
      <div class="celda col-4">
        <th scope="col">taEOperacionacto</th>
        <td scope="row">{{ registroAgregado?.ta01EOperacionacto }}</td>
      </div>
      <div class="celda col-4">
        <th scope="col">taEEstatus</th>
        <td scope="row">{{ registroAgregado?.ta01EEstatus }}</td>
      </div>
      <div class="celda col-4">
        <th scope="col">taECuantos</th>
        <td scope="row">{{ registroAgregado?.ta01ECuantos }}</td>
      </div>
      <div class="celda col-4">
        <th scope="col">taCCadena</th>
        <td scope="row">{{ registroAgregado?.ta01CCadena }}</td>
      </div>

    </tr>
    <tr class="row" *ngIf="registroAgregado?.ta03EOid!== undefined && registroAgregado?.ta03EOid !== null">
      <div class="celda col-4">
        <th scope="col">taEOid</th>
        <td scope="row">{{ registroAgregado?.ta03EOid }}</td>
      </div>
      <div class="celda col-4">
        <th scope="col">taEPrioridad</th>
        <td scope="row">{{ registroAgregado?.ta03EPrioridad }}</td>
      </div>
      <div class="celda col-4">
        <th scope="col">taEOperacionacto</th>
        <td scope="row">{{ registroAgregado?.ta03EOperacionacto }}</td>
      </div>
      <div class="celda col-4">
        <th scope="col">taEEstatus</th>
        <td scope="row">{{ registroAgregado?.ta03EEstatus }}</td>
      </div>
      <div class="celda col-4">
        <th scope="col">taECuantos</th>
        <td scope="row">{{ registroAgregado?.ta03ECuantos }}</td>
      </div>
      <div class="celda col-4">
        <th scope="col">taCCadena</th>
        <td scope="row">{{ registroAgregado?.ta03CCadena }}</td>
      </div>
    </tr>
    <tr class="row" *ngIf="registroAgregado?.ta09EOid !== undefined && registroAgregado?.ta09EOid !== null">
      <div class="celda col-4">
        <th scope="col">taEOid</th>
        <td scope="row">{{ registroAgregado?.ta09EOid }}</td>
      </div>
      <div class="celda col-4">
        <th scope="col">taEPrioridad</th>
        <td scope="row">{{ registroAgregado?.ta09EPrioridad }}</td>
      </div>
      <div class="celda col-4">
        <th scope="col">taEOperacionacto</th>
        <td scope="row">{{ registroAgregado?.ta09EOperacionacto }}</td>
      </div>
      <div class="celda col-4">
        <th scope="col">taEEstatus</th>
        <td scope="row">{{ registroAgregado?.ta09EEstatus }}</td>
      </div>
      <div class="celda col-4">
        <th scope="col">taECuantos</th>
        <td scope="row">{{ registroAgregado?.ta09ECuantos }}</td>
      </div>
      <div class="celda col-4">
        <th scope="col">taCCadena</th>
        <td scope="row">{{ registroAgregado?.ta09CCadena }}</td>
      </div>
    </tr>
    <tr class="row" *ngIf="registroAgregadoCambioSexo?.cadena !== undefined && registroAgregadoCambioSexo?.cadena !== null">
      <div class="celda col-4">
        <th scope="col">Cadena</th>
        <td scope="row">{{ registroAgregado?.cadena }}</td>
      </div>
      <div class="celda col-4">
        <th scope="col">Nombre Persona 1</th>
        <td scope="row">{{ registroAgregado?.p1Nombres + " " + registroAgregado?.p1Primerapellido + " " + registroAgregado?.p1Segundoapellido }}</td>
      </div>
      <div class="celda col-4">
        <th scope="col">Sexo Persona 1</th>
        <td scope="row">{{ registroAgregado?.p1sexo }}</td>
      </div>
      <div class="celda col-4">
        <th scope="col">Nombre Persona 2</th>
        <td scope="row">{{ registroAgregado?.p2Nombres + " " + registroAgregado?.p2Primerapellido + " " + registroAgregado?.p2Segundoapellido }}</td>
      </div>
      <div class="celda col-4">
        <th scope="col">Sexo Persona 2</th>
        <td scope="row">{{ registroAgregado?.p2sexo }}</td>
       

      </div>

    </tr>
</table>






</div>
</div>

