<div class="jumbtron">
    
    <h1 class="display-4 text-center">Interconexion</h1>
    <hr>
   
    <div class="row " >
        <div class="col-md-8 centrado ">
        
        
            <h6 class="text-center" *ngIf="cambioSexoDisponible === false">
                Tipo de Proceso
            </h6>
            <div class="col-md-12">
                <app-tarjeta-credito (registroDevuelto)="mostrarRegistroDevuleto($event)"
                *ngIf="cambioSexoDisponible === false"
                ></app-tarjeta-credito>
            </div>
            <br>
            <div class="col-md-12">
                <!-- registroAgregado - Para cuando se realizan procesos de borrado o forzar subir actas
                     registroAgregadoCambioSexo - Para cuando se realiza proceso de cambio de sexo en Matrimonios -->
                <app-lista-tarjeta-credito [registroAgregado]="registroEnviar"
                                           [registroAgregadoCambioSexo]="registroEnviarCambioSexo"
                ></app-lista-tarjeta-credito>
                                        
                <div class="spinner-border" role="status" *ngIf="(registroEnviar === null || registroEnviar === undefined) && (registroEnviarCambioSexo === null || registroEnviarCambioSexo === undefined)">
                    <span class="visually-hidden">Loading...</span>
                </div>
                <app-segundo-formulario [datosRetornados]="datos"  
                                        *ngIf="cambioSexoDisponible === true"
                                        (enviarRegistro)="mostrarRegistroDevuletoCambioSexo($event)"></app-segundo-formulario>
            </div>
        
        </div>
        
    </div>
</div>