<div class="jumbtron">
    
    <h1 class="display-4 text-center">Interconexion</h1>
    <hr>
   
    <div class="row " >
        <div class="col-md-8 centrado ">
        
        
            <h6 class="text-center" *ngIf="cambioSexoDisponible === false && 
                                           nacionalidadDisponible === false &&
                                           paisesDisponibles === false" >
                Tipo de Proceso
            </h6>
            <div id="spinner">
            <div class="col-md-12">
                <!-- registroDevuelto - Output que manda el o los registros hacia en este componente (padre) -->
                <app-tarjeta-credito (registroDevuelto)="mostrarRegistroDevuleto($event)"
                *ngIf="cambioSexoDisponible === false && 
                       nacionalidadDisponible === false &&
                       paisesDisponibles === false"
                       
                ></app-tarjeta-credito>
            </div>
        </div>
            <br>
            <div class="col-md-12">
                <!-- registroAgregado - Para cuando se realizan procesos de borrado o forzar subir actas
                     registroAgregadoCambioSexo - Para cuando se realiza proceso de cambio de sexo en Matrimonios
                     cadenasDisponibles - Para mostrar las cadenas encontradas en base a un Crip dada -->
                <app-lista-tarjeta-credito [registroAgregado]="registroEnviar"
                                           [registroAgregadoCambioSexo]="registroEnviarCambioSexo"
                                           [cadenasDisponibles]="cadenasDisponibles"
                ></app-lista-tarjeta-credito>

                <app-segundo-formulario [datosRetornados]="datos"  
                                        *ngIf="cambioSexoDisponible === true"
                                        (enviarRegistro)="mostrarRegistroDevuletoCambioSexo($event)">
                </app-segundo-formulario>

                <app-tercer-formulario [datosRetornados]="registronacimientos"
                                        *ngIf="nacionalidadDisponible=== true"
                                        (enviarRegistro)=" mostrarRegistroDevuletoNacionalidad($event)">

                </app-tercer-formulario>

                <app-cuarto-formulario *ngIf="paisesDisponibles === true"
                                        [Editable]="editarPais"
                                        (enviarDatos)="mostrarRegistroDevuletoPais($event)">

                </app-cuarto-formulario>

                
                <div class="d-flex justify-content-center miSpinner" *ngIf="verSpinner">
                    <div class="spinner-border text-primary" role="status">
                        <span class="visually-hidden" ></span>
                    </div>
                </div>
            </div>
        
        </div>
        
    </div>
</div>